<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Title", :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.text_area :body, :rows => "5", :placeholder => "Input you post here...", :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Save post", :class => "btn btn-lg btn-success btn-block" %>
  </div>

  <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
      <a class="btn btn-large" data-edit="bold"><i class="icon-bold"></i></a>
    </div>


<% end %>
